version: '3.3'

services:
  slave_db:
    image: mysql:5.7.26
    container_name: slave_db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    env_file:
      - ./.env
    ports:
      - 3307:3306
    volumes:
      - ./conf.d:/etc/mysql/conf.d
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - mysql_data/var/lib/mysql
volumes:
  mysql_data:
